@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wrap{
    width: 1170px;
    margin: 0 auto;
}
.wrap_sl{
    width: 1030px;
}
.button{
    padding: 16px 40px;
    display: inline-block;
    background: #2500f9;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
}
.awards{
    background: #e2eaed;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding-right: 50px;
}
.awards__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #feaa25;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin-right: 10px;
}
.far{
    color: #fff;
    font-size: 15px;
}
.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.27;
    color: #242f51;
    margin: 0;
}
.text{
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    line-height: 1.85;
    letter-spacing: -0.3px;
    margin: 0 0 65px 0;
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #242f51;
    margin: 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 90px 0 0 0 ;
    padding: 0;
}
.cards__icon-wrap{
    background: #eee;
    border-radius: 100%;
    height: 88px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards__icon{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.header{
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.header__wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}
.menu__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.logo{
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    color: #242f51;
}
.logo__orange{
    color: #fcae61;
}
.menu__item{
    margin-left: 35px;
}
.menu__link{
    text-decoration: none;
    color: #242f51;
    font-size: 16px;
}
.menu__button{
    color: #fff;
    margin-left: 55px;
}

.welcome{
    background: url('img/welcome-bg.png') bottom center no-repeat;
    background-color: #fdfdfe;
    background-size: 100%;
    padding-top: 150px;
    min-height: 100vh;
    box-sizing: border-box;
}
.welcome__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome__info{
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.welcome__title{
    color: #242f51;
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    margin: 0;
}
.welcome__text{
    font-size: 18px;
    line-height: 28px;
    color: #616368;
}
.welcome__buttons{
    margin-top: 30px;
}
.welcome__button{
    margin-right: 25px;
}
.welcome__link{
    font-size: 16px;
    color: #2500f9;
    text-decoration: none;
}
.welcome__img{
    width: 450px;
    height: 800px;
    object-fit: contain;
}

.companies{
    padding: 110px 0 80px;
}
.companies__title{
    color: #242f51;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.companies__list{
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*=========== features ============*/
.features__images{
    position: relative;
    right: 50px;
}
.features__bg{
    position: absolute;
    bottom: 0;
    left: -60px;
    z-index: -1;
}
.features__img{
    width: 580px;
}
.features__wrap{
    display: flex;
}
.features__info{
    width: 430px;
}
.features__title{
    margin: 0;
    margin-bottom: 15px;
}
.features__card{
    display: flex;
    align-items: center;
}
.features__card-info{
    width: 270px;
    margin-left: 30px;
}
.smart__wrap{
    display: flex;
    flex-direction: column;
    width: 1030px;
}
.smart__text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.smart__title{
    color: #242f51;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    width: 480px;
    margin-right: 75px;
}
.smart__discription{
    color: #616368;
    font-size: 16px;
    line-height: 26px;
    width: 415px;
    border-left: 1px solid #b9b9b8;
    padding: 40px 0 45px 50px;
}
.smart__list{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 110px 0 0 0;
    padding: 0;
}
.smart__items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.smart__list-imageBorder{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/*Окраска кругов для иконок*/
.icon-bg_red{
    background: #ffecef;
}
.icon-bg_blue{
    background: #f4f4ff;
}
.icon-bg_green{
    background: #e4ffee;
}
.icon-bg_yellow{
    background: #fff6d3;
}
.icon-bg_lightblue{
    background: #eaf9ff;
}
.icon-bg_peach{
    background: #fdeee4;
}

/*--------------------------*/

.smart__list-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 58px;
}
.smart__list-title_red{
    color: #f55767;
}
.smart__list-title_blue{
    color: #2563ff;
}
.smart__list-title_green{
    color: #40975f;
}
.smart__list-text{
    margin: 0;
    padding: 0;
    color: #616368;
    font-size: 16px;
    line-height: 26px;
    width: 265px;
}